definition.json
{"name":"1b820050-5a4a-436a-a4da-c83aa9346810","id":"/providers/Microsoft.Flow/flows/1b820050-5a4a-436a-a4da-c83aa9346810","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Projects-Insightly-Sharepoint 9-23-25","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"e6fb8d95-aa1b-4ced-b6bd-a81edf1edb70","type":"User","tenantId":"42c94cfe-2c2c-4e03-8fa4-c363be24bd24"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-09-23T22:14:16.1769988Z","connectionKeySavedTimeKey":"2025-09-23T22:14:16.1769988Z","creationSource":null,"modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"metadata":{},"type":"Request","kind":"Http","inputs":{"schema":{"type":"object","properties":{"ENTITY_NAME":{"type":"string"},"ENTITY_ID":{"type":"integer"},"RECORD_TITLE":{"type":"string"}}},"triggerAuthenticationType":"All"}}},"actions":{"Initialize_variable_EntityName":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"EntityName","type":"string","value":"PROJECT"}]}},"Initialize_variable_RecordID":{"runAfter":{"Initialize_variable_EntityName":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"RecordID","type":"string","value":"@string(triggerBody()?['entity']?['PROJECT_ID'])"}]}},"Initialize_variable_RecordTitleRaw":{"runAfter":{"Initialize_variable_RecordID":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"RecordTitleRaw","type":"string","value":"@triggerBody()?['entity']?['PROJECT_NAME']"}]}},"Initialize_variable_RecordTitleSanitized":{"runAfter":{"Initialize_variable_RecordTitleRaw":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"RecordTitleSanitized","type":"string","value":"@replace(\r\n  replace(\r\n    replace(\r\n      replace(\r\n        replace(\r\n          replace(\r\n            replace(\r\n              replace(\r\n                replace(\r\n                  replace(coalesce(variables('RecordTitleRaw'), ''), '#', ''),\r\n                '%',''),\r\n              '&','and'),\r\n            '*',''),\r\n          ':','-'),\r\n        '?',''),\r\n      '\"',''),\r\n    '<','('),\r\n  '>',' )'),\r\n'|','-')\r\n\r\n"}]}},"Initialize_variable_FolderName":{"runAfter":{"Initialize_variable_RecordTitleSanitized":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"FolderName","type":"string","value":"@concat('PRO-', variables('RecordId'), ' - ', variables('RecordTitleSanitized'))\r\n"}]}},"Create_new_folder":{"runAfter":{"Initialize_variable_OrganizationID":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://signeffectz.sharepoint.com/sites/InsightlyCustomerFileStorage","table":"f824f336-b9ad-4178-93a9-fe9585558eb2","parameters/path":"@variables('FolderName')\r\n"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateNewFolder"},"authentication":"@parameters('$authentication')"}},"Initialize_variable_TemplateRoot":{"runAfter":{"Initialize_variable_FolderName":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"TemplateRoot","type":"string","value":"/sites/InsightlyCustomerFileStorage/Pro_Opp_Folder_Templates/Project_DefaultTree\n"}]}},"Copy_folder":{"runAfter":{"Create_new_folder":["Succeeded"]},"metadata":{"%252fPro_Opp_Folder_Templates%252fOpportunity_DefaultTree":"/Pro_Opp_Folder_Templates/Opportunity_DefaultTree","%252fPro_Opp_Folder_Templates%252fOpportunity_DefaultTree%252f01-Project_Checklist":"/Pro_Opp_Folder_Templates/Opportunity_DefaultTree/01-Project_Checklist","%252fPro_Opp_Folder_Templates%252fProject_DefaultTree":"/Pro_Opp_Folder_Templates/Project_DefaultTree"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://signeffectz.sharepoint.com/sites/InsightlyCustomerFileStorage","parameters/sourceFolderId":"%252fPro_Opp_Folder_Templates%252fProject_DefaultTree","parameters/destinationDataset":"https://signeffectz.sharepoint.com/sites/InsightlyCustomerFileStorage","parameters/destinationFolderPath":"@concat('/Insightly_Projects/', variables('FolderName'))\r\n","parameters/nameConflictBehavior":2},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CopyFolderAsync"},"authentication":"@parameters('$authentication')"}},"Get_folder_metadata_using_path":{"runAfter":{"Copy_folder":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://signeffectz.sharepoint.com/sites/InsightlyCustomerFileStorage","path":"@concat('/Insightly_Projects/', variables('FolderName'))\r\n"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFolderMetadataByPath"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Compose_PatchBody":{"type":"Compose","inputs":"@json(concat(\r\n  '{',\r\n    '\"PROJECT_ID\":\"', string(variables('RecordID')), '\",',\r\n    '\"ORGANISATION_ID\":\"', string(variables('OrganizationId')), '\",',\r\n    '\"PROJECT_NAME\":\"', replace(coalesce(variables('RecordTitleRaw'),''),'\"','\\\"'), '\",',\r\n    '\"RESPONSIBLE_USER_ID\":\"\",',\r\n    '\"PROJECT_DETAILS\":\"\",',\r\n    '\"CUSTOMFIELDS\":[',\r\n      '{',\r\n        '\"FIELD_NAME\":\"Project_SharePoint_Files__c\",',\r\n        '\"FIELD_VALUE\":\"', outputs('Compose_Folder_URL'), '\"',\r\n      '},',\r\n      '{',\r\n        '\"FIELD_NAME\":\"Project_SharePoint_Files__c\",',\r\n        '\"FIELD_VALUE\":\"\",',\r\n      '},',\r\n      '{',\r\n        '\"FIELD_NAME\":\"AD_Location__c\",',\r\n        '\"FIELD_VALUE\":\"\",',\r\n      '}',\r\n    ']',\r\n  '}'\r\n))"},"HTTP":{"runAfter":{"Compose":["Succeeded"]},"type":"Http","inputs":{"uri":"\n@{concat('https://api.insightly.com/v3.1/Projects/', variables('RecordID'))}","method":"PUT","headers":{"Content-Type":"application/json","Authorization":"@{concat('Basic ', base64(concat('93fbeb06-3a5f-4d0b-94a1-5ce8ed917ec5', ':')))}"},"body":"\n@{json(concat(\r\n  '{\"PROJECT_ID\":', variables('RecordID'),\r\n  ',\"PROJECT_NAME\":\"', variables('RecordTitleRaw'),\r\n  '\",\"CUSTOMFIELDS\":[{\"FIELD_NAME\":\"Project_SharePoint_Files__c\",\"FIELD_VALUE\":\"', outputs('Compose_Folder_URL'), '\"}]}'\r\n))}"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Compose":{"runAfter":{"Compose_PatchBody":["Succeeded"]},"type":"Compose","inputs":"@variables('RecordID')"}},"runAfter":{"Compose_Folder_URL":["Succeeded"]},"else":{"actions":{"Terminate":{"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"message":"OrganizationId is missing or not numeric."}}}}},"expression":{"and":[{"not":{"equals":["@and(not(empty(variables('OrganizationId'))), equals(isInteger(variables('OrganizationId')), true))"," "]}}]},"type":"If"},"Compose_Folder_URL":{"runAfter":{"Get_folder_metadata_using_path":["Succeeded"]},"type":"Compose","inputs":"@concat(\r\n  'https://signeffectz.sharepoint.com/sites/InsightlyCustomerFileStorage/Insightly_Projects/',\r\n  uriComponent(variables('FolderName'))\r\n)"},"Initialize_variable_OrganizationID":{"runAfter":{"Initialize_variable_TemplateRoot":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"OrganizationId","type":"string"}]}}},"outputs":{}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"6de08c1f7a064fc9b14e82cf299e7e12","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}