chattest7testflow_20250923135235/Microsoft.Flow/flows/cdc87f97-8517-4778-b5fc-e47ff1831591/definition.json
{"name":"f8f5b033-3650-44ba-a535-e2e9302628b1","id":"/providers/Microsoft.Flow/flows/f8f5b033-3650-44ba-a535-e2e9302628b1","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Insightly-Sharepoint 9-18-25","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"e6fb8d95-aa1b-4ced-b6bd-a81edf1edb70","type":"User","tenantId":"42c94cfe-2c2c-4e03-8fa4-c363be24bd24"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-09-23T13:51:52.9836639Z","connectionKeySavedTimeKey":"2025-09-23T13:51:52.9836639Z","creationSource":"Portal","modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"metadata":{},"type":"Request","kind":"Http","inputs":{"schema":{"type":"object","properties":{"ENTITY_NAME":{"type":"string"},"ENTITY_ID":{"type":"integer"},"RECORD_TITLE":{"type":"string"}}},"triggerAuthenticationType":"All"}}},"actions":{"Initialize_variable_EntityName":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"EntityName","type":"string","value":"@'OPPORTUNITY'\r\n"}]}},"Initialize_variable_RecordID":{"runAfter":{"Initialize_variable_EntityName":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"RecordID","type":"string","value":"@string(triggerBody()?['entity']?['OPPORTUNITY_ID'])\r\n"}]}},"Initialize_variable_RecordTitleRaw":{"runAfter":{"Initialize_variable_RecordID":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"RecordTitleRaw","type":"string","value":"@triggerBody()?['entity']?['OPPORTUNITY_NAME']\r\n"}]}},"Initialize_variable_RecordTitleSanitized":{"runAfter":{"Initialize_variable_RecordTitleRaw":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"RecordTitleSanitized","type":"string","value":"@replace(\r\n  replace(\r\n    replace(\r\n      replace(\r\n        replace(\r\n          replace(\r\n            replace(\r\n              replace(\r\n                replace(\r\n                  replace(coalesce(variables('RecordTitleRaw'), ''), '#', ''),\r\n                '%',''),\r\n              '&','and'),\r\n            '*',''),\r\n          ':','-'),\r\n        '?',''),\r\n      '\"',''),\r\n    '<','('),\r\n  '>',' )'),\r\n'|','-')\r\n\r\n"}]}},"Initialize_variable_FolderName":{"runAfter":{"Initialize_variable_RecordTitleSanitized":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"FolderName","type":"string","value":"@concat('OPP-', variables('RecordId'), ' - ', variables('RecordTitleSanitized'))\r\n"}]}},"Create_new_folder":{"runAfter":{"Initialize_variable_OrganizationID":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://signeffectz.sharepoint.com/sites/InsightlyCustomerFileStorage","table":"756d5784-5f20-43c9-b8e6-a11b7aaedbd4","parameters/path":"@variables('FolderName')\r\n"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateNewFolder"},"authentication":"@parameters('$authentication')"}},"Initialize_variable_TemplateRoot":{"runAfter":{"Initialize_variable_FolderName":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"TemplateRoot","type":"string","value":"/sites/InsightlyCustomerFileStorage/Pro_Opp_Folder_Templates/Opportunity_DefaultTree\n"}]}},"Copy_folder":{"runAfter":{"Create_new_folder":["Succeeded"]},"metadata":{"%252fPro_Opp_Folder_Templates%252fOpportunity_DefaultTree":"/Pro_Opp_Folder_Templates/Opportunity_DefaultTree","%252fPro_Opp_Folder_Templates%252fOpportunity_DefaultTree%252f01-Project_Checklist":"/Pro_Opp_Folder_Templates/Opportunity_DefaultTree/01-Project_Checklist"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://signeffectz.sharepoint.com/sites/InsightlyCustomerFileStorage","parameters/sourceFolderId":"@'/Pro_Opp_Folder_Templates/Opportunity_DefaultTree'","parameters/destinationDataset":"https://signeffectz.sharepoint.com/sites/InsightlyCustomerFileStorage","parameters/destinationFolderPath":"@concat('/Insightly_Opportunities/', variables('FolderName'))\r\n","parameters/nameConflictBehavior":2},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CopyFolderAsync"},"authentication":"@parameters('$authentication')"}},"Get_folder_metadata_using_path":{"runAfter":{"Copy_folder":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://signeffectz.sharepoint.com/sites/InsightlyCustomerFileStorage","path":"@concat('/Insightly_Opportunities/', variables('FolderName'))\r\n"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFolderMetadataByPath"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Compose_PatchBody":{"type":"Compose","inputs":"json(concat(\n  '{',\n    '\"OPPORTUNITY_ID\":\"', string(variables('RecordID')), '\",',\n    '\"ORGANISATION_ID\":', variables('OrganizationId'), ',',\n    '\"OPPORTUNITY_NAME\":\"', replace(coalesce(variables('RecordTitleRaw'),''),'\"','\\\"'), '\",',\n    '\"RESPONSIBLE_USER_ID\":\"\",',\n    '\"OPPORTUNITY_DETAILS\":\"\",',\n    '\"CUSTOMFIELDS\":[',\n      '{',\n        '\"FIELD_NAME\":\"SharePoint_Folder__c\",',\n        '\"FIELD_VALUE\":\"', outputs('Compose_Folder_URL'), '\"',\n      '},',\n      '{',\n        '\"FIELD_NAME\":\"File_Location_1__c\",',\n        '\"FIELD_VALUE\":\"\",',\n      '},',\n      '{',\n        '\"FIELD_NAME\":\"AD_Location__c\",',\n        '\"FIELD_VALUE\":\"\",',\n      '}',\n    ']',\n  '}'\n))"},"HTTP":{"runAfter":{"Compose_PatchBody":["Succeeded"]},"type":"Http","inputs":{"uri":"\n@{concat('https://api.insightly.com/v3.1/Opportunities/', variables('RecordID'))}","method":"PUT","headers":{"Content-Type":"application/json","Authorization":"@{concat('Basic ', base64(concat('93fbeb06-3a5f-4d0b-94a1-5ce8ed917ec5', ':')))}"},"body":"@{json(concat('{', 'OPPORTUNITY_ID:\"', string(variables('RecordID')), '\",', '\"ORGANISATION_ID\":\"', int(variables('EntityName')), '\",', '\"OPPORTUNITY_NAME\":\"', replace(coalesce(variables('RecordTitleRaw'),''),'\"','\\\"'), '\",', '\"RESPONSIBLE_USER_ID\":\"\",', '\"OPPORTUNITY_DETAILS\":\"\",', '\"CUSTOMFIELDS\":[', '{', '\"FIELD_NAME\":\"SharePoint_Folder__c\",', '\"FIELD_VALUE\":\"', outputs('Compose_Folder_URL'), '\"', '},', '{', '\"FIELD_NAME\":\"File_Location_1__c\",', '\"FIELD_VALUE\":\"\",', '},', '{', '\"FIELD_NAME\":\"AD_Location__c\",', '\"FIELD_VALUE\":\"\",', '}', ']', '}'))}\n"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}}},"runAfter":{"Compose_Folder_URL":["Succeeded"]},"else":{"actions":{"Terminate":{"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"message":"OrganizationId is missing or not numeric."}}}}},"expression":{"and":[{"not":{"equals":["@and(not(empty(variables('OrganizationId'))), equals(isInteger(variables('OrganizationId')), true))"," "]}}]},"type":"If"},"Compose_Folder_URL":{"runAfter":{"Get_folder_metadata_using_path":["Succeeded"]},"type":"Compose","inputs":"@concat('https://signeffectz.sharepoint.com/sites/InsightlyCustomerFileStorage/Insightly_Opportunities/', variables('FolderName'))\r\n"},"Initialize_variable_OrganizationID":{"runAfter":{"Initialize_variable_TemplateRoot":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"OrganizationId","type":"string"}]}}},"outputs":{}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"6de08c1f7a064fc9b14e82cf299e7e12","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}